extends layout

block content
  div( ng-controller = 'IndexController as Index' )
    div( ng-repeat = 'user in Index.users' )
      h1( ng-bind = 'user.username' )
      h3( ng-bind = 'user.mail' )

    form( ng-submit = 'Index.submit()' )
      input(
        ng-model = 'Index.user.username'
        placeholder = 'Username'
      )
      input(
        ng-model = 'Index.user.mail'
        placeholder = 'Mail'
      )
      input( type = 'submit' )
